.Shopping{
    padding-bottom: 24px;
    background-color: #EFEFEF;
}
.ShoppingCart {
    padding-bottom: 20px;
    font-size: 20px;
}

.card {
    padding: 0 1rem;
}

.ShoppingSpan {
    font-size: 3rem ;
    text-shadow: 0px 2px 3px rgb(173, 173, 173);
    color:#142850;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingNAV a {
    font-size: 1.2rem;
    text-shadow: 0px 2px 3px rgb(173, 173, 173);
    color:#1A9D5D;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingElmenetP {
    font-size: 1.2rem;
    color:#1A9D5D;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingElmenet {
    font-size: 2rem !important ;
    color:#142850;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingCard {
    cursor: pointer;
}

.ShoppingItem {
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    font-family:'Roboto', sans-serif;
}

.ShoppingImg{
    width: 100%;
    max-height: 200px;
    padding: 14px;
}

.ShoppingStar {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: #adb5bd;
    margin-bottom: 6px ;
    padding: 0 20px 0 0px;
}

.ShoppingUL {
    margin-top: 0;
    margin-bottom: 0rem !important;
}


.ShoppingSpan {
    font-size: 3rem ;
    text-shadow: 0px 2px 3px rgb(173, 173, 173);
    color:#142850;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingNAV a {
    font-size: 1.2rem;
    text-shadow: 0px 2px 3px rgb(173, 173, 173);
    color:#1A9D5D;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingElmenetP {
    font-size: 1.2rem;
    /* text-shadow: 0px 2px 3px rgb(173, 173, 173); */
    color:#1A9D5D;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingElmenet {
    font-size: 2rem !important ;
    color:#142850;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingSale {
    margin-top: -10px;
    margin-bottom: 10px;
    width: 35%;
    height: 22px;
    border: 1px solid #e35d6a;
    border-radius: 2px;
}

.ShoppingSale {
    font-weight: 400;
    color: #e35d6a;
    font-size: 12px;
    text-align: center;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingDetail{
    left: 14px;
    display: none;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.ShoppingLove{
    right: 14px;
    display: none;
    transform-origin: opacity,transform;
    -webkit-animation: text-RightToLeft 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-RightToLeft 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.ShoppingDetail i,
.ShoppingLove i{
    color: var(--primary-color);
    font-size: 1.4rem;
}
.ShoppingDetail:hover,
.ShoppingLove:hover{
    cursor: pointer;
    opacity: 1;
}
.ShoppingCard:hover>.ShoppingDetail,
.ShoppingCard:hover>.ShoppingLove{
    display: block;
}

.ShoppingDetail,
.ShoppingLove{
        position: absolute;
        top: 14px;
        background-color: rgba(219, 219, 219, 0.99);
        border-radius:50%;
        text-shadow: 0 1px 2px rgb(43, 43, 43);
        height: 40px;
        text-align: center;
        line-height: 43px;
        width:40px;
        z-index: 4;
    }
.Visibi {
    --fa-animation-duration: 2s; 
    --fa-fade-opacity: 0.6;
}