.Product {
    padding-bottom: 24px;
    background-color: #EFEFEF;
    margin-top: 30px;
}

.productItem{
    position: relative;
    border-radius: 5px;
    /* box-shadow: 0 4px 10px rgb(160, 160, 160); */
    background-color: #fff;
    font-family:'Roboto', sans-serif;
    /* margin-top: 24px; */
}

.productImg{
    width: 100%;
    max-height: 200px;
    padding: 14px;
}

.productStar {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: #adb5bd;
    margin-bottom: 6px ;
    padding: 0 20px 0 0px;
}

.productUL {
    margin-top: 0;
    margin-bottom: 0rem !important;
}


.productSpan {
    font-size: 3rem ;
    text-shadow: 0px 2px 3px rgb(173, 173, 173);
    color:#142850;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.productNAV a {
    font-size: 1.2rem;
    text-shadow: 0px 2px 3px rgb(173, 173, 173);
    color:#1A9D5D;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.productElmenetP {
    font-size: 1.2rem;
    /* text-shadow: 0px 2px 3px rgb(173, 173, 173); */
    color:#1A9D5D;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.productElmenet {
    font-size: 2rem !important ;
    color:#142850;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.productCard {
    cursor: pointer;
}

.ProductSale {
    width: 30%;
    height: 22px;
    border: 1px solid #e35d6a;
    border-radius: 2px;
}

.ProductSale {
    font-weight: 400;
    color: #e35d6a;
    font-size: 12px;
    text-align: center;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.productDetail{
    left: 14px;
    display: none;
    transform-origin: opacity,transform;
    -webkit-animation: text-leftToRight 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-leftToRight 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.productLove{
    right: 14px;
    display: none;
    transform-origin: opacity,transform;
    -webkit-animation: text-RightToLeft 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both ;
    animation: text-RightToLeft 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.productDetail i,
.productLove i{
    color: var(--primary-color);
    font-size: 1.4rem;
}
.productDetail:hover,
.productLove:hover{
    cursor: pointer;
    opacity: 1;
}
.productCard:hover>.productDetail,
.productCard:hover>.productLove{
    display: block;
}

.productDetail,
.productLove{
        position: absolute;
        top: 14px;
        background-color: rgba(219, 219, 219, 0.99);
        border-radius:50%;
        text-shadow: 0 1px 2px rgb(43, 43, 43);
        height: 40px;
        text-align: center;
        line-height: 43px;
        width:40px;
        z-index: 4;
    }
.Visibi {
    --fa-animation-duration: 2s; 
    --fa-fade-opacity: 0.6;
}