.HeaderRegular {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
}

.navIcon {
  display: flex;
  justify-content: space-between;
  width: 20%;
  align-items: center;
}

.logins {
  position: relative;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  
}

.searchActive {
  display: none ;
}

.searchBox {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 86px;
  z-index: 5;
  border-radius: 3px;
  transform-origin: opacity, transform;
  -webkit-animation: ToptoBot 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: ToptoBot 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.containerSearch {
  position: relative;
  background-color: #f0f0f0 !important;
  align-items: center !important;
  height: 86px;
  justify-content: center !important;
}

.searchBoxInput {
  width: 60%;
  height: 40px;
  padding: 0 5px;
  border-radius: 4px;
  border: none;
  outline-color: #1a9d5d;
}

.searchBoxBtn {
  height: 40px;
  border: none;
  background-color: #1a9d5d;
  margin-left: 15px;
  border-radius: 4px;
  color: #fff;
}

.closeInput {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 8px;
  z-index: 7;
}

.containerLogin {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  top: 36px;
  background-color: rgb(255, 255, 255);
  width: 160px;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(158, 158, 158);
  transform: translateX(-50%);
  text-align: center;
  z-index: 3;
}

.containerLogin::after {
  content: "";
  position: absolute;
  top: -24px;
  right: 50%;
  transform: translateX(50%);
  border-width: 12px 15px;
  border-style: solid;
  border-color: transparent transparent rgb(148, 148, 148) transparent;
}

.logins:hover .containerLogin {
  opacity: 1;
  visibility: visible;
}

.loginLink {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  font-weight: 500;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.cartLink {
  text-decoration: none;
  user-select: none;
  --webkit-user-select: none;
  color: #000;
}

.cart {
  position: relative;

  margin: 10px 0;
  border-bottom: 1px solid #eee;
  left: 13%;
}
