.main {
  max-width: 1180px;
  margin: auto;
  margin-top: 40px;
}

.productSortOptions{
    margin-left: 8px;
}
.productSortOptions select {
    outline: none;
    border: none;
    font-weight: bold;
}

.ProductDetails {
    width: 100%;
    margin-top: 40px;
  }

.ProductDetails .title {
    margin-top: 40px;
    margin-bottom: 55px;
    font-size: 27px;
    color:#142850;
}

.TextName {
    display: flex;
    font-size: 16px;
    color:#142850;
    float: right;
    padding-left: 350px;
}

/* col3 */
.shopfiltersItem {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 12px;
    margin: 5px 0;
    border-radius: 6px;
    transition: all .1s ease-out;
    
}

.shopfiltersItem img {
    height: 1.8rem;
    width: 1.8rem;
}

.shopfiltersItem span {
    padding: 0 0px 0 25px;
}

.shopfilterslist {
    padding-left: 0rem;
}

.shopfiltersItem:hover {
   
    background-color: rgba(0,0,0,.08);
}


/* col-9 */
.shophandle {
    display: flex;
  align-items: flex-start;
}

.shophandle .shophandlesearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
    padding: 0px 0px 0px 15px;
    /* margin-left: 30px; */

    border: 1px solid rgba(0, 0, 0, 0.15);
}

.shophandle .shophandlesearch input {
    outline: 0;
    border: 0;
    width: 100%;
    background-color: #fff;
}

.shophandle .shopbtn {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    background: none;
}

.productDetailUL {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

.productStar {
    display: flex;
    text-align: center;
    font-size: 15px;
    color: #adb5bd;
    margin-bottom: 6px ;
    padding: 0 20px 0 0px;
}

.productImg{
    width: 100%;
    max-height: 80px;
    padding-right: 20px;
    object-fit: cover;
    /* padding: 14px; */
}

.productItem{
    position: relative;
    border-radius: 5px;
    /* box-shadow: 0 4px 10px rgb(160, 160, 160); */
    background-color: #fff;
    font-family:'Roboto', sans-serif;
    /* margin-top: 24px; */
}

.Details {
    color: #adb5bd;
    font-size: 12px;
    margin-top: -6px;
    font-weight: 400;
    font-family:'Roboto', sans-serif;
}

.DetailsPrice {
    display: flex;
    float: right;
}

.DetailsPrice h5{
    font-size: 16px;
    font-weight: 700;
    color: #0288d1;
}

.DetailsPrice span {
    font-weight: 400;
    position: relative;
    top: -9px;
    font-size: 10px;
    right: 0;
}

.btnadding {
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    line-height: 20px;
    width: 22px;
    height: 22px;
    background-color: #ee4d2d;
    text-align: center;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}